<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{MenuMain}">
    <f:for each="{MenuMain}" as="mainItem">
        <f:comment>
            hiermit wird auch die RootPage im Menü gelistet, als hauptmenuknoten
            <f:render partial="Menu/Elements/Item" arguments="{item: mainItem}"/>
        </f:comment>
        <f:if condition="{mainItem.children}">
            <f:render section="submenu" arguments="{settings: settings, submenu: mainItem.children, menuEvents: menuEvents, menuReports: menuReports}"/>
        </f:if>
        <f:comment>
            hiermit wird auch die RootPage im Menü gelistet, als hauptmenuknoten
            </li>
        </f:comment>
    </f:for>
</f:if>

<f:section name="submenu">
    <ul class="">
        <f:for each="{submenu}" key="subKey" as="subItem">
            <f:render partial="Menu/Elements/Item" arguments="{item: subItem}"/>
            <f:if condition="{subItem.children}">
                <f:render section="submenu" arguments="{submenu: subItem.children}"/>
            </f:if>
            </li>
        </f:for>
    </ul>
</f:section>

</html>
