picture {
    width: 100%; /* IE 11 fix for flexbox */
}

#main .frame {
    width: 100%;

    &.default {
        margin: $container-gap-vertical $container-gap-horizontal;
        width: calc(100% - (2 * #{$container-gap-horizontal}));
    }

    &.frame-type-div {
        margin: 15px $container-gap-horizontal;
    }

    &.indent-horiz {
        margin: 0 $container-gap-horizontal;
        width: calc(100% - (2 * #{$container-gap-horizontal}));
    }

    &.indent-verti {
        margin: $container-gap-vertical 0;
    }

    &.indent-top {
        margin-top: $container-gap-vertical;
    }

    &.indent-bottom {
        margin-bottom: $container-gap-vertical;
    }

    &.frame-type-header {
        margin-bottom: 10px;
    }

    > header {
        display: block;
        margin-bottom: 30px;
    }
}

/* -------------------------------------------------------------- */

.ce-headline-left {
    text-align: left;
}

.ce-headline-center {
    text-align: center;
}

.ce-headline-right {
    text-align: right;
}

.only-bold {
    font-weight: 700;
}

/* -------------------------------------------------------------- */

/* video responsive*/
.video {
    .video-embed {
        position: relative;
        left: 0;
        top: 0;

        .video-embed-item {
            max-width: 100%;
        }
    }

    &[data-type="external"] {
        .video-embed {
            padding-top: 56.25%;
            overflow: hidden;

            > iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }
}

.ce-gallery {
    &.ce-border {
        .ce-column {
            padding: 2.5vw;

            @media screen and (min-width: 1921px) {
                padding: 48px;
            }
        }
    }

    .ce-row {
        display: block;
        width: 100%;

        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    figure {
        img {
            margin: 0 auto;
        }

        figcaption {
            padding-top: 15px;
        }
    }
}

[data-ce-columns="2"] {
    .ce-column {
        max-width: 50%;
    }
}

[data-ce-columns="3"] {
    .ce-column {
        max-width: 33.33335%;
    }
}

[data-ce-columns="4"] {
    .ce-column {
        max-width: 25%;
    }
}

[data-ce-columns="5"] {
    .ce-column {
        max-width: 20%;
    }
}

[data-ce-columns="6"] {
    .ce-column {
        max-width: 16.66665%;
    }
}

@media screen and (max-width: 800px) {
    [data-ce-columns="5"] {
        .ce-column {
            max-width: 25%;
        }
    }
}

@media screen and (max-width: 700px) {
    .ce-intext {
        [data-ce-columns="4"] {
            .ce-row {
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            }

            .ce-column {
                max-width: 50%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    [data-ce-columns="3"] {
        .ce-row {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .ce-column {
            max-width: 100%;
        }
    }

    [data-ce-columns="5"] {
        .ce-row {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .ce-column {
            max-width: 33.3333%;
        }
    }

    [data-ce-columns="6"] {
        .ce-row {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .ce-column {
            max-width: 25%;
        }
    }
}

@media screen and (max-width: 520px) {
    [data-ce-columns="2"] {
        .ce-row {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .ce-column {
            max-width: 100%;
        }
    }

    [data-ce-columns="4"] {
        .ce-row {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .ce-column {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 450px) {
    [data-ce-columns="5"] {
        .ce-column {
            max-width: 50%;
        }
    }

    [data-ce-columns="6"] {
        .ce-column {
            max-width: 50%;
        }
    }
}

.ce-textpic {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    .ce-gallery {
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: auto;
    }

    .ce-bodytext {
        -webkit-flex: 0 2 auto;
        -ms-flex: 0 2 auto;
        flex: 0 2 auto;
        width: auto;

        > header {
            display: block;
            margin-bottom: 30px;
        }
    }

    &.ce-above {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        .ce-gallery {
            display: block;
            margin-bottom: 40px;
            width: 100%;
        }
    }

    &.ce-below {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        .ce-gallery {
            display: block;
            margin-top: 40px;
            width: 100%;
        }
    }

    &.ce-center {
        .ce-gallery {
            .ce-row {
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;

                .image {
                    height: 100%;

                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-justify-content: space-between;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                }
            }
        }
    }

    &.ce-right {
        &.ce-intext {
            &.ce-nowrap {
                .ce-gallery {
                    max-width: 50%;
                    width: 100%;

                    -webkit-order: 1;
                    -ms-flex-order: 1;
                    order: 1;
                }

                .ce-bodytext {
                    margin-right: 40px;

                    -webkit-order: 0;
                    -ms-flex-order: 0;
                    order: 0;
                }
            }
        }
    }

    &.ce-left {
        &.ce-intext {
            &.ce-nowrap {
                .ce-gallery {
                    max-width: 50%;
                    width: 100%;
                }

                .ce-bodytext {
                    margin-left: 62px;
                    margin-top: 55px;
                    margin-right: 62px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .ce-textpic {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        &.ce-right {
            &.ce-intext {
                &.ce-nowrap .ce-gallery {
                    margin-top: 40px;
                    max-width: 100%;
                }
            }
        }

        &.ce-left {
            &.ce-intext {
                &.ce-nowrap .ce-gallery {
                    margin-bottom: 40px;
                    max-width: 100%;
                }
            }
        }
    }
}

.no-indent {
    .ce-left {
        .ce-bodytext {
            margin-right: $container-gap-horizontal;
        }
    }

    .ce-right {
        .ce-bodytext {
            margin-left: $container-gap-horizontal;
        }
    }
}

/* -------------------------------------------------------------- */

.frame-type-menu_pages,
.frame-type-menu_subpages,
.frame-type-menu_sitemap,
.frame-type-menu_sitemap_pages,
.frame-type-menu_abstract {
    ul {
        list-style: none;
        ul {
            margin-left: 20px;
            margin-bottom: 10px;
        }
    }
}

.frame-type-menu_abstract {
    li > p {
        margin-left: 10px;
        margin-bottom: 15px;
    }
}

/* -------------------------------------------------------------- */

.ce-uploads {
    margin-left: 20px;
}


.ce-uploads-imagegallery {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.ce-uploads-imagegallery > a {
    display: block;
    margin: 0;
    width: calc(100% / 3);
    overflow: hidden;
}

.ce-uploads-imagegallery>a figure {
    transition: all 400ms;
}

.ce-uploads-imagegallery > a:hover figure {
    transform: scale(1.1);
}

/* -------------------------------------------------------------- */

.ce-table {
    border-collapse: collapse;
    width: 100%;

    td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr:nth-child(even){
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
    }
}
