#footer {
    background: $footer-bg;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $footer-color-text;
    margin-top: 50px;
    padding-top: $container-gap-vertical;
    padding-bottom: $container-gap-vertical;
    padding-left: $container-gap-horizontal;
    padding-right: $container-gap-horizontal;
    position: relative;
    z-index: 600;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    a {
        color: $footer-color-a;

        &:hover,
        .active {
            color: $footer-color-a-hover;
        }

        &.btn-blue:hover {
            color: #fff;
        }
    }

    .icon-footer {
        background: $color-brand;
        border-radius: 100%;
        border-color: #fff;
        border-style: solid;
        border-width: 2px;
        height: 50px;
        left: calc(50% - 25px);
        position: absolute;
        top: -25px;
        width: 50px;

        &::after {
            background: url("../Images/icon-typo3themeskeleton.svg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            content: " ";
            height: 70%;
            left: 15%;
            position: absolute;
            top: 15%;
            width: 70%;
        }
    }

    .col > * {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
