#menu-main {
    background: $menu-main-color-bg;
    font-size: $menu-main-font-size;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    ul {
        list-style: none;
    }

    li {
        position: relative;
    }

    a {
        background: $menu-main-color-a-bg;
        color: $menu-main-color-a;
        display: inline-block;
        line-height: 1;
        padding: 10px $header-items-padding-horizontal;
    }

    a:hover,
    .active {
        background: $menu-main-color-a-bg-hover;
        color: $menu-main-color-a-hover;
    }

    > ul {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;

        ul {
            min-width: 100%;
            padding-left: 20px;
        }
    }

    > ul > li {
        > a {
            padding-top: $header-items-padding-vertical;
            padding-bottom: $header-items-padding-vertical;
            text-transform: uppercase;
        }

        ul a {
            color: #fff;
        }
    }

    > ul > li > ul {
        background: $menu-main-color-sub-bg;
        display: none;
        left: 0;
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        position: absolute;
        top: 100%;
    }

    li:hover > ul {
        display: block;
    }
}

@media screen and (max-width: 1550px) {
    #menu-main {
        > ul {
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: $mobile) {
    #menu-main {
        a {
            padding: 10px $header-items-padding-horizontal;
        }

        > ul > li {
            > a {
                padding-top: $header-items-padding-vertical;
                padding-bottom: $header-items-padding-vertical;
            }

            ul a {
                color: #fff;
            }
        }

        > ul > li > ul {
            background: $menu-main-color-sub-bg;
            left: -25%;
            padding-left: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            position: absolute;
            top: 100%;
            width: 150%;
        }

        li:hover > ul {
            display: block;
        }
    }
}

@media screen and (min-width: 1921px) {
    #menu-main {
        a {
            padding: 10px $header-items-padding-horizontal-4k;
        }

        > ul > li > ul {
            ul li::before {
                margin-right: -20px;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    #menu-main {
        font-size: 90%;
    }
}

@media screen and (max-width: $mobile) {
    #menu-mobile-btn {
        display: block;
    }
}

/* Hamburger Menu Button */
#mobile-btn {
    margin-right: 4vw;
    position: fixed;
    top: 25px;
    right: 0;
    z-index: 999;
}

.c-hamburger {
    background: transparent;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    font-size: 0;
    height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    width: 38px;
    @include prefix(( appearance: none ));
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    background-color: $menu-mobile-btn-color;
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 12px;
}

.c-hamburger span::before,
.c-hamburger span::after {
    background-color: $menu-mobile-btn-color;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    height: 5px;
    width: 100%;
}

.c-hamburger span::before {
    top: -10px;
}

.c-hamburger span::after {
    bottom: -10px;
}

.c-hamburger span::before,
.c-hamburger span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
            transition-delay: 0.3s, 0s;
}

.c-hamburger span::before {
    -webkit-transition-property: top, -webkit-transform;
            transition-property: top, transform;
}

.c-hamburger span::after {
    -webkit-transition-property: bottom, -webkit-transform;
            transition-property: bottom, transform;
}

.ionav--open {
    #mobile-btn span {
        background: none;
    }

    #mobile-btn span::before {
        background-color: #4c4e55;
        top: 0;
        @include prefix(( transform: rotate(45deg) ));
        @include prefix(( transition: rotate() 500ms ));
        @include prefix(( background-color 500ms ));
    }

    #mobile-btn span::after {
        background-color: #4c4e55;
        bottom: 0;
        @include prefix(( transform: rotate(-45deg) ));
        @include prefix(( transition: rotate() 500ms ));
        @include prefix(( background-color 500ms ));
    }

    #mobile-btn span::before,
    #mobile-btn span::after {
        -webkit-transition-delay: 0s, 0.3s;
                transition-delay: 0s, 0.3s;
    }
}
/* Hamburger Menu END */
.ionav-overlay {
    display: block;
    margin-left: -100%;
    opacity: 0;
    transition: opacity 500ms;
}

.ionav-canvas {
    margin-left: -100%;

    transition: all 500ms;
}

.ionav--closed {
    #mobile-btn {
        &.ionav-btn::before {
            display: none;
        }
    }
}

.ionav--open {
    #mobile-btn {
        &.ionav-btn {
            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }
    }

    .ionav-overlay {
        margin-left: 0;
        opacity: 1;
    }

    .ionav-canvas {
        margin-left: 0;
    }
}
