html,
body {
    font-family: $basefont;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    font-weight: $heading-weight;
    line-height: 1;

    &:nth-child(2) {
        margin-top: 10px;
    }
}

h1 {
    color: $color-brand;
    /* font-size: $h1-size; */
    @include font-size($h1-font-sizes);
    line-height: 1.5;
}

h2 {
    @include font-size($h2-font-sizes);
    &:nth-child(2) {
        @include font-size($h2-subheader-size);
    }
}

h3 {
    @include font-size($h3-font-sizes);
    &:nth-child(2) {
        @include font-size($h3-subheader-size);
    }
}

h4 {
    @include font-size($h4-font-sizes);
    &:nth-child(2) {
        @include font-size($h4-subheader-size);
    }
}

h5 {
    @include font-size($h5-font-sizes);
    &:nth-child(2) {
        @include font-size($h5-subheader-size);
    }
}

a {
    color: $a-color;
    text-decoration: none;
    @include prefix(( transition: color $a-hover-transition-speed ));

    &:hover {
        color: $a-hover-color;
    }
}

p {
    @include font-size($p-font-sizes);
}

strong,
b,
.bold {
    font-weight: 700;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

.indent {
    padding-left: 20%;
}

.color-brand {
    color: $color-brand;
}

.letter-spacing-1,
span.letter-spacing-1,
a.letter-spacing-1 {
    letter-spacing: $letter-spacing-1;
}

.letter-spacing-2,
span.letter-spacing-2,
a.letter-spacing-2 {
    letter-spacing: $letter-spacing-2;
}

.font-size-xlarge {
    @include font-size($font-sizes-xlarge);
}

.font-size-large {
    @include font-size($font-sizes-large);
}

.font-size-medium {
    @include font-size($font-sizes-medium);
}

.font-size-small {
    @include font-size($font-sizes-small);
}

.blue,
span.blue {
    color: $color-brand;
}
