<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div itemscope itemtype="http://schema.org/Person">
    <f:if condition="{address.image}">
        <f:then>
            <f:for each="{address.image}" as="image">
                <f:image class="image img-circle" image="{image}" alt="" maxWidth="270" additionalAttributes="{itemprop: 'image'}" />
            </f:for>
        </f:then>
        <f:else>
            <f:if condition="{settings.defaultProfilePicture.active}">
                <f:image src="{settings.defaultProfilePicture.path}" width="{settings.defaultProfilePicture.width}" maxWidth="270c"
                        height="{settings.defaultProfilePicture.height}" alt="default profile picture" additionalAttributes="{itemprop: 'image'}"/>
            </f:if>
        </f:else>
    </f:if>
    <f:if condition="{address.position}">
        <span class="line jobtitle color-brand" itemprop="jobTitle">{address.position}</span>
    </f:if>
    <f:if condition="{address.gender}">
        <f:switch expression="{address.gender}">
            <f:case value="m">
                <meta itemprop="gender" content="male"/>
            </f:case>
            <f:case value="f">
                <meta itemprop="gender" content="female"/>
            </f:case>
        </f:switch>
    </f:if>
    <f:if condition="{address.firstname}">
        <meta itemprop="givenName" content="{address.firstname}"/>
    </f:if>
    <f:if condition="{address.middlename}">
        <meta itemprop="additionalName" content="{address.middlename}"/>
    </f:if>
    <f:if condition="{address.lastname}">
        <meta itemprop="familyName" content="{address.lastname}"/>
    </f:if>
    <f:if condition="{address.name}">
        <span class="line name" itemprop="name">{address.name}</span>
    </f:if>
    <f:if condition="{address.phone}">
        <span class="line telephone" itemprop="telephone">{address.phone}</span>
    </f:if>
    <f:if condition="{address.fax}">
        <span class="line faxnumber" itemprop="faxNumber">{address.fax}</span>
    </f:if>
    <f:if condition="{address.email}">
        <span class="line email"><f:link.email email="{address.email}" /></span>
    </f:if>
    <f:if condition="{address.company}">
        <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="{address.company}"/>
        </span>
    </f:if>
</div>
