<f:layout name="grid-Default" />

<f:section name="content">
    <div class="grid-element column col col-3 col-lg-6 col-xs-12"><f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw></div>
    <div class="grid-element column col col-3 col-lg-6 col-xs-12"><f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw></div>
    <div class="grid-element column col col-3 col-lg-6 col-xs-12"><f:format.raw>{data.tx_gridelements_view_column_3}</f:format.raw></div>
    <div class="grid-element column col col-3 col-lg-6 col-xs-12"><f:format.raw>{data.tx_gridelements_view_column_4}</f:format.raw></div>
</f:section>
