<f:layout name="grid-Default" />

<f:section name="content">
    <div class="grid-element col col-xs-3"><f:format.raw>{data.tx_gridelements_view_column_1}</f:format.raw></div>
    <div class="grid-element col col-xs-3"><f:format.raw>{data.tx_gridelements_view_column_2}</f:format.raw></div>
    <div class="grid-element col col-xs-3"><f:format.raw>{data.tx_gridelements_view_column_3}</f:format.raw></div>
    <div class="grid-element col col-xs-3"><f:format.raw>{data.tx_gridelements_view_column_4}</f:format.raw></div>
</f:section>
