<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:switch expression="{data.tx_gridelements_backend_layout}">
    <f:case value="9">
        <div id="c{data.uid}" class="grid-container grid-slider-container grid-{data.flexform_layout}">
    </f:case>
    <f:defaultCase>
        <div id="c{data.uid}" class="grid-container row" data-children="{f:count(subject: data.tx_gridelements_view_children)}">
    </f:defaultCase>
</f:switch>
    <f:render partial="Header/All" arguments="{_all}" />
    <f:render section="content" />
</div>

</html>
