.cc-window {
    background-color: $color-brand;
    color: $cookie-color-text;
    opacity: 1;
    @include prefix(( transition: opacity 1s ease ));

    .cc-link {
        color: $cookie-color-link;

        &:hover {
            color: $cookie-color-link-hover;
        }
    }

    .cc-compliance {
        .cc-btn {
            background-color: $cookie-color-btn-bg;
            border-color: $cookie-color-border;
            color: $cookie-color-btn;

            @include prefix(( transition: all 500ms ));
        }

        &:hover .cc-btn {
            background-color: $cookie-color-btn-bg-hover;
            border-color: $cookie-color-border-hover;
            color: $cookie-color-btn-hover;
        }
    }
}
