<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hh="http://typo3.org/ns/HauerHeinrich/Hhthemestack/ViewHelpers"
    data-namespace-typo3-fluid="true">

<footer id="footer" class="row">
    <div id="footer-inner">

        <f:if condition="({FooterColumnPictures})">
        <div id="footer-topbar">
            <div id="footer-topbar-inner">
                <div class="col col-12">
                    <f:format.raw>{FooterColumnPictures}</f:format.raw>
                </div>
            </div>
        </div>
        </f:if>

        <f:if condition="({FooterColumnAddress1} || {FooterColumnAddress2} || {FooterColumnAddress3})">
        <div id="footer-midbar">
            <div id="footer-midbar-inner" class="columns">
                <div class="col col-4 col-sm-12">
                    <f:format.raw>{FooterColumnAddress1}</f:format.raw>
                </div>
                <div class="col col-4 col-sm-12">
                    <f:format.raw>{FooterColumnAddress2}</f:format.raw>
                </div>
                <div class="col col-4 col-sm-12">
                    <f:format.raw>{FooterColumnAddress3}</f:format.raw>
                </div>
            </div>
        </div>
        </f:if>

        <f:if condition="({FooterColumnBottomBar1} || {FooterColumnBottomBar2})">
        <div id="footer-bottombar">
            <div id="footer-bottombar-inner" class="columns">
                <div class="col col-8 col-md-12">
                    <f:format.raw>{FooterColumnBottomBar1}</f:format.raw>
                </div>
                <div class="col col-4 col-md-12">
                    <div class="nav-footer nav-x">
                        <f:format.raw>{FooterColumnBottomBar2}</f:format.raw>
                    </div>
                </div>
            </div>
        </div>
        </f:if>
    </div>
</footer>

</html>
