<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hh="http://typo3.org/ns/HauerHeinrich/HhThemeFotofinder/ViewHelpers"
    data-namespace-typo3-fluid="true">

<header id="header" class="main-header container">
    <f:format.raw>{Logo}</f:format.raw>

    <nav id="menu-main">
        <f:render partial="Menu/MainMenu" arguments="{_all}" />
    </nav>

    <f:render partial="Menu/MenuLanguage" arguments="{_all}" />

    <f:render partial="Indexed_Search" arguments="{_all}" />
</header>
