/**
 * MIXINS
 */
/* e.g. @include prefix(( box-shadow: 1px 1px 1px 1px opacify($color-main, 0.6) )); */
/* e.g. @include box-sizing(border-box); */
@font-face {
  font-family: 'fontello';
  src: url("../Fonts/fontello.eot?6984843");
  src: url("../Fonts/fontello.eot?6984843#iefix") format("embedded-opentype"), url("../Fonts/fontello.woff?6984843") format("woff"), url("../Fonts/fontello.ttf?6984843") format("truetype"), url("../Fonts/fontello.svg?6984843#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.mail:before,
[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="fa-"]:before,
[class*=" fa-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mail:before, .mail:before, .icon-mail-1:before {
  content: '\e803'; }

.icon-at:before, .fa-at:before {
  content: '\e800';
  margin-top: -3px; }

.icon-gplus:before, .fa-google-plus:before {
  content: '\e801'; }

.icon-twitter:before, .fa-twitter:before {
  content: '\f099'; }

.icon-facebook:before, .fa-facebook:before {
  content: '\f09a'; }

.icon-angle-up:before, .fa-angle-up:before {
  content: '\f106'; }

.icon-angle-down:before, .fa-angle-down:before {
  content: '\f107'; }

.icon-copyright:before, .fa-copyrightat:before {
  content: '\f1f9'; }

.icon-whatsapp:before, .fa-whatsapp:before {
  content: '\f232'; }

/* ------------------------------------- */
/* ------------------------------------- */
/* Typography */
/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */
/* Container */
/* Header */
/* for header items like menu a, language a */
/* Menus */
/* Menu Main */
/* Menu Language */
/* Cookie-Banner */
/* Footer */
/* Searchbox */
html,
body {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  line-height: 1; }
  h1:nth-child(2), h2:nth-child(2), h3:nth-child(2), h4:nth-child(2), h5:nth-child(2), h6:nth-child(2) {
    margin-top: 10px; }

h1 {
  color: #166390;
  /* font-size: $h1-size; */
  font-size: 2.4rem;
  line-height: 1.5; }
  @media screen and (min-width: 300px) {
    h1 {
      font-size: 2rem; } }
  @media screen and (min-width: 700px) {
    h1 {
      font-size: 2.3rem; } }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 2.4rem; } }

h2 {
  font-size: 2.2rem; }
  @media screen and (min-width: 300px) {
    h2 {
      font-size: 2rem; } }
  @media screen and (min-width: 700px) {
    h2 {
      font-size: 2.3rem; } }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 2.4rem; } }
  h2:nth-child(2) {
    font-size: 2.07rem; }
    @media screen and (min-width: 300px) {
      h2:nth-child(2) {
        font-size: 2rem; } }
    @media screen and (min-width: 700px) {
      h2:nth-child(2) {
        font-size: 2.3rem; } }
    @media screen and (min-width: 1024px) {
      h2:nth-child(2) {
        font-size: 2.4rem; } }

h3 {
  font-size: 2rem; }
  @media screen and (min-width: 300px) {
    h3 {
      font-size: 2rem; } }
  @media screen and (min-width: 700px) {
    h3 {
      font-size: 2.3rem; } }
  @media screen and (min-width: 1024px) {
    h3 {
      font-size: 2.4rem; } }
  h3:nth-child(2) {
    font-size: 1.85rem; }
    @media screen and (min-width: 300px) {
      h3:nth-child(2) {
        font-size: 2rem; } }
    @media screen and (min-width: 700px) {
      h3:nth-child(2) {
        font-size: 2.3rem; } }
    @media screen and (min-width: 1024px) {
      h3:nth-child(2) {
        font-size: 2.4rem; } }

h4 {
  font-size: 1.8rem; }
  @media screen and (min-width: 300px) {
    h4 {
      font-size: 2rem; } }
  @media screen and (min-width: 700px) {
    h4 {
      font-size: 2.3rem; } }
  @media screen and (min-width: 1024px) {
    h4 {
      font-size: 2.4rem; } }
  h4:nth-child(2) {
    font-size: 1.7rem; }
    @media screen and (min-width: 300px) {
      h4:nth-child(2) {
        font-size: 2rem; } }
    @media screen and (min-width: 700px) {
      h4:nth-child(2) {
        font-size: 2.3rem; } }
    @media screen and (min-width: 1024px) {
      h4:nth-child(2) {
        font-size: 2.4rem; } }

h5 {
  font-size: 1.63rem; }
  @media screen and (min-width: 300px) {
    h5 {
      font-size: 2rem; } }
  @media screen and (min-width: 700px) {
    h5 {
      font-size: 2.3rem; } }
  @media screen and (min-width: 1024px) {
    h5 {
      font-size: 2.4rem; } }
  h5:nth-child(2) {
    font-size: 1.5rem; }
    @media screen and (min-width: 300px) {
      h5:nth-child(2) {
        font-size: 2rem; } }
    @media screen and (min-width: 700px) {
      h5:nth-child(2) {
        font-size: 2.3rem; } }
    @media screen and (min-width: 1024px) {
      h5:nth-child(2) {
        font-size: 2.4rem; } }

a {
  color: #166390;
  text-decoration: none;
  -webkit-transition: color 400ms;
  -moz-transition: color 400ms;
  -ms-transition: color 400ms;
  -o-transition: color 400ms;
  /* Output standard non-prefixed declaration */
  transition: color 400ms; }
  a:hover {
    color: #9d9d9c; }

p {
  font-size: 1rem;
  margin-bottom: 15px; }
  @media screen and (min-width: 300px) {
    p {
      font-size: 1rem; } }
  @media screen and (min-width: 700px) {
    p {
      font-size: 1rem; } }
  @media screen and (min-width: 1024px) {
    p {
      font-size: 1rem; } }

strong,
b,
.bold {
  font-weight: 700; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-justify {
  text-align: justify; }

.indent {
  padding-left: 20%; }

.color-brand {
  color: #166390; }

.letter-spacing-1,
span.letter-spacing-1,
a.letter-spacing-1 {
  letter-spacing: 1px; }

.letter-spacing-2,
span.letter-spacing-2,
a.letter-spacing-2 {
  letter-spacing: 2px; }

.font-size-xlarge {
  font-size: 2.4rem; }
  @media screen and (min-width: 300px) {
    .font-size-xlarge {
      font-size: 1.7rem; } }
  @media screen and (min-width: 700px) {
    .font-size-xlarge {
      font-size: 2.3rem; } }
  @media screen and (min-width: 1024px) {
    .font-size-xlarge {
      font-size: 2.4rem; } }

.font-size-large {
  font-size: 2.2rem; }
  @media screen and (min-width: 300px) {
    .font-size-large {
      font-size: 1.4rem; } }
  @media screen and (min-width: 700px) {
    .font-size-large {
      font-size: 2rem; } }
  @media screen and (min-width: 1024px) {
    .font-size-large {
      font-size: 2.2rem; } }

.font-size-medium {
  font-size: 2rem; }
  @media screen and (min-width: 300px) {
    .font-size-medium {
      font-size: 1.15rem; } }
  @media screen and (min-width: 700px) {
    .font-size-medium {
      font-size: 1.8rem; } }
  @media screen and (min-width: 1024px) {
    .font-size-medium {
      font-size: 2rem; } }

.font-size-small {
  font-size: 1.8rem; }
  @media screen and (min-width: 300px) {
    .font-size-small {
      font-size: 1.1rem; } }
  @media screen and (min-width: 700px) {
    .font-size-small {
      font-size: 1.6rem; } }
  @media screen and (min-width: 1024px) {
    .font-size-small {
      font-size: 1.8rem; } }

.blue,
span.blue {
  color: #166390; }

a[class^="btn-"] {
  display: inline-block;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  /* Output standard non-prefixed declaration */
  transition: all 500ms; }

.btn-blue {
  background-color: #166390;
  color: #fff;
  padding: 10px 20px; }
  .btn-blue:hover {
    background-color: grey;
    color: #166390; }

/*# sourceMappingURL=sourcemaps/UserRTE.css.map */
