$color-blue: #001e2f;
$color-grey: #9d9d9c;
$color-grey-light: #dfe6ea;


$color-brand: #166390;
$color-brand2: #9d9d9c;

$a-hover-transition-speed: 400ms;

$btn-transition-speed: 500ms;
$btn-blue-color-bg: $color-brand;
$btn-blue-color-bg-hover: $color-blue;
$btn-blue-color-text: #fff;
$btn-blue-color-text-hover: #fff;

/* Typography */
$basefont: 'Fira Sans', sans-serif;
$font-size-base:        18px;
$font-size-base-medium: 18px;
$font-size-base-large:  18px;

$line-height-base:      1.5em;
$font-weight-base:      300;
$font-weight-bold:      500;

$heading-font:          $basefont;
$heading-weight:        500;
$heading-case:          none;

$h1-size:               28px;
$h2-size:               21px;
$h3-size:               38px;
$h4-size:               16px;
$h5-size:               14px;
$h6-size:               12px;

$font-size-default: $font-size-base;
$font-size-xlarge: 46px;
$font-size-large: 32px;
$font-size-medium: 25px;
$font-size-small: 12px;
$font-size-xsmall: 10px;

$letter-spacing-1: 1px;
$letter-spacing-2: 2px;

/* Container */
$container-gap-horizontal: 6%;
$container-gap-vertical: 50px;

/* Header */
/* for header items like menu a, language a */
$header-items-padding-horizontal: 30px;
$header-items-padding-vertical: 30px;

/* Menus */
/* Menu Main */
$menu-main-font-size: 22px;
$menu-main-color-bg: transparent;
$menu-main-color-sub-bg: rgba($color-brand, 0.6);
$menu-main-color-a: $color-brand;
$menu-main-color-a-hover: $color-blue;
$menu-main-color-a-bg: transparent;
$menu-main-color-a-bg-hover: transparent;

/* Menu Language */
$menu-language-font-size: 17px;

/* Cookie-Banner */
$cookie-color-text: #fff;
$cookie-color-btn: #fff;
$cookie-color-btn-hover: $color-brand;
$cookie-color-btn-bg: $color-brand;
$cookie-color-btn-bg-hover: #fff;
$cookie-color-border: #fff;
$cookie-color-border-hover: $color-brand;
$cookie-color-link: #fff;
$cookie-color-link-hover: $color-grey;

/* Footer */
$footer-bg: url("../Images/footerbg.jpg");
$footer-color-text: #fff;
$footer-color-a: #fff;
$footer-color-a-hover: $color-grey;
