$breakpoints: (
    small : 300px,
    medium: 700px,
    large : 1024px
);
$mobile: 1000px;

$color-blue: #001e2f;
$color-grey: #9d9d9c;
$color-grey-light: #dfe6ea;


$color-brand: #166390;
$color-brand2: #9d9d9c;

$text-color: #000;

/* ------------------------------------- */

$a-color: $color-brand;
$a-hover-color: $color-brand2;
$a-hover-transition-speed: 400ms;

/* ------------------------------------- */

$btn-transition-speed: 500ms;
$btn-blue-color-bg: $color-brand;
$btn-blue-color-bg-hover: $color-blue;
$btn-blue-color-text: #fff;
$btn-blue-color-text-hover: #fff;

/* Typography */
$basefont: 'Fira Sans', sans-serif;
$font-size-base:        18px;
$font-size-base-medium: 18px;
$font-size-base-large:  18px;

$line-height-base:      1.5em;
$font-weight-base:      300;
$font-weight-bold:      500;

/* ------------------------------------- */

$heading-font:          $basefont;
$heading-weight:        500;
$heading-case:          none;

$h1-font-sizes: (
    null  : 2.4rem,
    small : 2rem,
    medium: 2.3rem,
    large : 2.4rem
);

$h2-font-sizes: (
    null  : 2.2rem,
    small : 2rem,
    medium: 2.3rem,
    large : 2.4rem
);

$h3-font-sizes: (
    null  : 2rem,
    small : 2rem,
    medium: 2.3rem,
    large : 2.4rem
);

$h4-font-sizes: (
    null  : 1.8rem,
    small : 2rem,
    medium: 2.3rem,
    large : 2.4rem
);

$h5-font-sizes: (
    null  : 1.63rem,
    small : 2rem,
    medium: 2.3rem,
    large : 2.4rem
);

$h2-subheader-size: (
    null  : 2.07rem,
    small : 2rem,
    medium: 2.3rem,
    large : 2.4rem
);

$h3-subheader-size: (
    null  : 1.85rem,
    small : 2rem,
    medium: 2.3rem,
    large : 2.4rem
);

$h4-subheader-size: (
    null  : 1.7rem,
    small : 2rem,
    medium: 2.3rem,
    large : 2.4rem
);

$h5-subheader-size: (
    null  : 1.5rem,
    small : 2rem,
    medium: 2.3rem,
    large : 2.4rem
);

/* ------------------------------------- */

$font-size-default: $font-size-base;

$p-font-sizes: (
    null  : 1rem,
    small : 1rem,
    medium: 1rem,
    large : 1rem
);

$font-sizes-xlarge: (
    null  : 2.4rem,
    small : 1.7rem,
    medium: 2.3rem,
    large : 2.4rem
);

$font-sizes-large: (
    null  : 2.2rem,
    small : 1.4rem,
    medium: 2rem,
    large : 2.2rem
);

$font-sizes-medium: (
    null  : 2rem,
    small : 1.15rem,
    medium: 1.8rem,
    large : 2rem
);

$font-sizes-small: (
    null  : 1.8rem,
    small : 1.1rem,
    medium: 1.6rem,
    large : 1.8rem
);

$font-sizes-xsmall: (
    null  : 1.6rem,
    small : 1rem,
    medium: 1.3rem,
    large : 1.6rem
);

$letter-spacing-1: 1px;
$letter-spacing-2: 2px;

/* ------------------------------------- */

/* Container */
$container-gap-horizontal: 6%;
$container-gap-vertical: 50px;

/* Header */
/* for header items like menu a, language a */
$header-items-padding-horizontal: 1.8vw;
$header-items-padding-vertical: 1.8vw;

$header-items-padding-horizontal-4k: 30px;
$header-items-padding-vertical-4k: 30px;

/* Menus */
/* Menu Main */
$menu-main-font-size: 22px;
$menu-main-color-bg: transparent;
$menu-main-color-sub-bg: rgba($color-brand, 0.6);
$menu-main-color-a: $color-brand;
$menu-main-color-a-hover: $color-blue;
$menu-main-color-a-bg: transparent;
$menu-main-color-a-bg-hover: transparent;

$menu-mobile-btn-color: $color-brand;

/* Menu Language */
$menu-language-font-size: 17px;

/* Cookie-Banner */
$cookie-color-text: #fff;
$cookie-color-btn: #fff;
$cookie-color-btn-hover: $color-brand;
$cookie-color-btn-bg: $color-brand;
$cookie-color-btn-bg-hover: #fff;
$cookie-color-border: #fff;
$cookie-color-border-hover: $color-brand;
$cookie-color-link: #fff;
$cookie-color-link-hover: $color-grey;

/* Footer */
$footer-bg: transparent;
$footer-color-text: $text-color;
$footer-color-a: $text-color;
$footer-color-a-hover: $color-brand;

/* Searchbox */
$searchbox-font-size: $menu-main-font-size;
