/* COOKIE CONSENT */
.cc-window {
    font-size:0.9rem;
    opacity:0.87;

    &:hover { opacity:1; }
}

/* COLUMNS (SPECTRE EXTEND) */
.columns > .col > .frame { height:100%; }

/* GRID CONTAINER */
.grid-container {  }

/* BANNER (Header) */
.banner-header {
    display:flex;
    flex-direction:row;
    flex:0 1 auto;
    align-items:stretch;
    justify-content:flex-start;

    .banner-text { flex-basis:$gridColumnLeft; background:#6397AF; color:#fff; margin-right:$gridColumnSpacing; min-width:250px; }
    .banner-text h1, .banner-text h2, .banner-text h3 {  }
    .banner-text p { margin-bottom:0; font-size:1.1rem; }
    .banner-text-inner { padding:20px 20px; }

    .banner-images { flex-basis:$gridColumnRight; }
    .banner-images img { height:auto; width:100%; display:block; }

    @media screen and (max-width:1023px){
        .banner-images img { height:100%; object-fit:cover; object-position:left center; }
    }
    @media screen and (max-width:$size-sm){
        flex-direction:column-reverse;

        .banner-text, .banner-images { flex-basis:100%; }
        .banner-text { margin-right:0; margin-top:14px; }
        .banner-text-inner { transform:none; top:0; }
    }
}

/* GALLERY MODULE */
#content .ce-gallery {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:calc(100% + 24px);
    margin-left:-12px;

    .ce-column { padding:0 12px; margin-bottom:24px; }
    .ce-column figure { display:block; }
    .ce-column picture { display:block; }
    .ce-column img { display:block; width:100%; height:auto; }

    &[data-ce-columns="1"] .ce-column { width:100%; }
    &[data-ce-columns="2"] .ce-column { width:50%; }
    &[data-ce-columns="3"] .ce-column { width:33.32%; }
    &[data-ce-columns="4"] .ce-column { width:25%; }
    &[data-ce-columns="5"] .ce-column { width:20%; }

    @media screen and (max-width:$size-sm) {
        &[data-ce-columns] .ce-column { width:50%; }
    }

    @media screen and (max-width:$size-xs) {
        &[data-ce-columns] .ce-column { width:100%; }
    }
}
