
    @import url("https://fast.fonts.net/lt/1.css?apiType=css&c=8eaa5001-8cb3-46ba-842b-735ee26f8c4e&fontids=1119900,1119933");
    @font-face{
        font-family:"Futura BT";
        font-style: normal;
        font-weight: 400;
        src:url("../Fonts/1119900/7ed1bebb-81a9-4c57-9513-f0538c1b83fc.eot?#iefix");
        src:url("../Fonts/1119900/7ed1bebb-81a9-4c57-9513-f0538c1b83fc.eot?#iefix") format("eot"),url("../Fonts/1119900/9fb69c26-4303-492d-8121-d3af0a6112fc.woff2") format("woff2"),url("../Fonts/1119900/ddc0f223-a296-451a-8681-ad80508eb419.woff") format("woff"),url("../Fonts/1119900/c18fc865-7a4e-45d9-bbb0-4e4553cc4136.ttf") format("truetype");
    }
    @font-face{
        font-family:"Futura BT";
        font-style: normal;
        font-weight: 300;
        src:url("../Fonts/1119933/bf74a9d0-0954-467f-abf2-269d642a34e6.eot?#iefix");
        src:url("../Fonts/1119933/bf74a9d0-0954-467f-abf2-269d642a34e6.eot?#iefix") format("eot"),url("../Fonts/1119933/65ebef59-02fa-4697-bd6a-b9c18fbae1cd.woff2") format("woff2"),url("../Fonts/1119933/bb6e42eb-bc30-4c8a-b4ee-bdba1631f178.woff") format("woff"),url("../Fonts/1119933/7c212380-c01a-48df-b253-606f78f6c4db.ttf") format("truetype");
    }
