/* GENERAL LAYOUT ELEMENTS */
body { background:url("../Images/bg-white.svg") repeat-x center top #eee; }
a { color:#27697E; box-shadow:none; outline:none; }
a:focus { box-shadow:none; outline:none; }

/* SPECTRE OVERRIDES */
.image { margin:0; }

/* WRAPPER (Header, Content, Footer) */
#wrapper {  }

/* MAIN LAYOUT SETTINGS */
#header, #banner, #content, #footer-topbar, #footer-midbar, #footer-bottombar-inner { max-width:1400px; margin:0 auto; padding:0 $containerSpacing; padding-bottom:$containerSpacing; }

/* HEADER */
#header {
    padding-top:$containerSpacing;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;

    #logo { display:inline-block; height:120px; width:21%; min-width:250px; }
    #logo a { width:100%; display:inline-block; }
    #logo img { width:100%; height:auto; max-width:99%; }

    @media screen and (max-width:$size-lg){
        align-items:flex-start;
    }
}

/* CONTENT (Main) */
#content {
    padding-top:70px;

    /*#main { flex-basis:$gridColumnRight; }*/
    #main > div { padding-left:calc(#{$gridColumnLeft} + #{$gridColumnSpacing}); padding-bottom:$containerSpacing; }

    @media screen and (max-width:$size-lg){
      padding-top:$containerSpacing;
      #main > div { padding-left:0; }
    }
}

/* FOOTER */
#footer {
    background:#6397AF; color:#fff; margin-top:115px;

    a { color:#fff; }

    #footer-inner { padding-top:$containerSpacing; }

    #footer-topbar {
        .ce-gallery .ce-column { display:inline-block; margin:0 15px; margin-bottom:15px; }
        .ce-gallery .ce-column img { width:auto; height:230px; }

        #footer-topbar-inner { width:100%; margin-top:-115px; }

        @media screen and (max-width:$size-lg){
            .ce-gallery .ce-column img { height:170px; }
            #footer-topbar-inner { margin-top:-85px; }
        }
        @media screen and (max-width:$size-sm){
            & { display:none; }
            @at-root #footer { margin-top:0; }
        }
    }

    #footer-midbar {
        padding-top:90px; padding-left:21%;
        header h1, header h2, header h3 { color:#27697E; text-transform:uppercase; }
        header { position:absolute; transform:translateY(-100%); }
        header .split:last-of-type { font-weight:400; }

        @media screen and (max-width:$size-lg){
            padding-left:$containerSpacing;

            #footer-midbar-inner { margin-left:0; margin-right:0; }
        }
    }
    #footer-bottombar { background:#27697E; }
    #footer-bottombar p { margin-bottom:0; }
    #footer-bottombar-inner { padding-top:$containerSpacing; padding-bottom:$containerSpacing; }

    #footer-inner, #footer-bottombar { background-image:url("../Images/logo-footer.svg"); background-repeat:no-repeat; background-position:11% bottom; background-size:320px auto; }
    #footer-bottombar { background-image:url("../Images/logo-footer-darker.svg"); }

    /* CE GALLERY in FOOTER */
    @media screen and (max-width:$size-sm){
        #footer-topbar .ce-gallery { text-align:center; }
    }
}
