/* GENERAL NAVIGATION OPTIONS */
.nav-x {
    nav { display:inline-block; }
    * { margin:0; padding:0; }

    ul { list-style-type:none; }
    li { float:left; min-height:1%; min-width:1%; display:inline-block; margin-left:12px; margin-right:12px; }
    li:first-of-type { margin-left:0; }
    li:last-of-type { margin-right:0; }

    a { color:#55585D; font-weight:300; padding:0; text-decoration:none; }
    a:hover, li.active a { color:#27697E; font-weight:400; }
    nav > ul > li > a { padding:12px 0; }

    ul ul { position:absolute; left:-999em; z-index:999; min-width:170px; padding-top:28px; padding-bottom:10px; margin-left:-20px; background:rgba(255,255,255,0.6); }
    li li { clear:left; padding:0; margin:0; width:100%; text-align:left; }
    li li:first-of-type { border-top:4px solid #6397AF; padding-top:10px; }
    li li a { padding:10px 20px; display:block; font-weight:300 !important; }
    li:hover ul { left:auto; }
}

/* NAVIGATION TOP */
.nav-header {
    display:inline-block; padding-right:7%; text-align:right; width:69%; z-index:650;

    a { font-size:18px; }
    nav ul li { margin-left:40px; margin-right:40px; }
    nav ul li li { margin-left:0; margin-right:0; }

    @media screen and (max-width:$size-lg){
        padding-right:0;
    }
}

/* NAVIGATION BOTTOM */
.nav-footer {
    a { text-transform:uppercase; }

    @media screen and (max-width:$size-md){
        #footer-bottombar & {
            li { float:none; width:100%; padding:0; margin:0; margin-top:10px; }
            a { padding:12px; display:block; border:1px solid #6397AF; text-align:center; }
        }
    }
}
