html, body { font-weight:300; font-size:16px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight:300;
    margin-bottom:1em;
    line-height:1.36;
    hyphens:auto;
    @at-root #content & { color: #27697E; }
}

h4, h5, h6, .h4, .h5, .h6 {
    font-weight:400;
    margin-bottom:0.5em;
}
