/* SPECTRE - OVERRIDES */
$primary-color: #6397AF;
$layout-spacing: 24px;

/* SPECTRE - OVERRIDES: RESPONSIVE BREAKPOINTS */
$size-xs: 480px;
$size-sm: 600px;
$size-md: 840px;
$size-lg: 1024px;
$size-xl: 1280px;
$size-2x: 1440px;

/* HHTHEMEKROESWANG CUSTOM VARIABLES (scss/custom/) */
$gridColumnLeft: 21%;
$gridColumnRight: 79%;
$gridColumnSpacing: 14px;

$containerSpacing: 22px;

$base-font-family: 'Open Sans', sans-serif !default;
$body-font-family: $base-font-family !default;
