/* SPECTRE - OVERRIDES */
$primary-color: #27697E;

/* CUSTOM VARIABLES */
$gridColumnLeft: 21%;
$gridColumnRight: 79%;
$gridColumnSpacing: 14px;

$containerSpacing: 22px;

$base-font-family: 'Open Sans', sans-serif !default;
$body-font-family: $base-font-family !default;
