/* SPECTRE - OVERRIDES */
$primary-color: #27697E;

/* CUSTOM VARIABLES */
$gridColumnLeft: 21%;
$gridColumnRight: 79%;
$gridColumnSpacing: 14px;

$containerSpacing: 22px;

$base-font-family: 'Open Sans', sans-serif !default;
$body-font-family: $base-font-family !default;

// Responsive breakpoints
$size-xs: 480px;
$size-sm: 600px;
$size-md: 840px;
$size-lg: 960px;
$size-xl: 1280px;
$size-2x: 1440px;